# --------------------------------------
# C/C++ Build Artifacts
# --------------------------------------
*.o
*.obj
*.exe
*.dll
*.so
*.dylib
*.a
*.out
*.log

# --------------------------------------
# PlatformIO Folders
# --------------------------------------
.pio/
.pioenvs/
.piolibdeps/

# --------------------------------------
# CLion / CMake
# --------------------------------------
.idea/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake

# --------------------------------------
# VS Code
# --------------------------------------
.vscode/
*.code-workspace